:root {
    --vp-c-brand-1: #29cc29; /* 暗色模式下的主品牌色 */
    --vp-c-brand-2: #009900;
    --vp-c-brand-3: #008000;
}

.dark {
    --vp-c-brand-1: #19f419; /* 暗色模式下的主品牌色 */
    --vp-c-brand-2: #33cc33;
    --vp-c-brand-3: #339933;
}